@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas-container {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  background: #2d3748;
  border-radius: 0.5rem;
  overflow: hidden;
}

.canvas-container canvas {
  border-radius: 0.5rem;
}